footer
{
	background-color:black;
	height:20%;
	color:white;
	text-align:center;
	padding:28px;
}
main
{
	margin-left:15%;
	border:2px solid tomato;
margin-right:15%;
	height:950px;
	background-color:#292628;
}
p
{
	color:white;
	word-spacing:2px;
}
form
{
	text-align:center;
}
h2
{
	color:white;
}